<%= form_with(model: pencil_case, local: true) do |form| %>
  <% if pencil_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pencil_case.errors.count, "error") %> prohibited this pencil_case from being saved:</h2>

      <ul>
      <% pencil_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pencil_case_id %>
    <%= form.number_field :pencil_case_id, id: :pencil_case_pencil_case_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :pencil_case_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :pencil_case_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
